body{

    margin:0;

    padding:0;

}

body {

    overflow:hidden;

}

canvas{

    border:2px solid black;

    background:black;

    touch-action:none;

    position:fixed;

    top:0;

}

strong{

    font-size:12px;

    font-weight:400;

}

.tools{

    position:fixed;

    bottom:20px;

}

#tools{

    width:100vw;

    align-items:center;

    display:flex;

    justify-content:center;

    padding-top:10px;

    padding-bottom:5px;

    display:none;

    background:white;

}

#rangeSlider{

    width:95%;

}

